run = "nix build"

[nix]
channel = "unstable"

[deployment]
run = ["sh", "-c", "nix build"]

[languages]

[languages.nix]
pattern = "**/{*.nix}"

[languages.nix.languageServer]
start = "nixd"
deploymentTarget = "cloudrun"
