run = "nix build"

[nix]
channel = "stable-22_11"

[deployment]
run = ["sh", "-c", "nix build"]

[languages]

[languages.bash]
pattern = "**/{*.sh,*.bash}"

[languages.bash.languageServer]
start = "bash-language-server start"
deploymentTarget = "cloudrun"
