name: Update Workflow
concurrency: check

on:
  workflow_dispatch:
  schedule:
    - cron:  '0 6 * * 1'

jobs:
  build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v5.0.0
        with:
          token: ${{ secrets.TOKEN }}

      - name: Check for Update
        uses: saadmk11/github-actions-version-updater@v0.9.0
        with:
          token: ${{ secrets.TOKEN }}
